:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
}


a {
    text-decoration: none;
    cursor: default;
}



body {
    color:var(--primary-text-color);
    background-color: #ffffff;
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
}
ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    list-style: none;
}
p {
    display: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.conteiner {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    

}


.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* секция хедер */

.logo {
    padding-right: auto;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3; 
    
}
.studio {
    color: var(--title-text-color);
    margin-left: 0;
    padding-left: 0;
}


.header {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    border-bottom: 0.5px solid #ECECEC;
}

.navigation {
    display: flex;
    padding-left: 93px;
    margin-bottom: 0;
    margin-top: 0;
}


.navigation-link {
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
    color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}
.navigation-list + .navigation-list {
    margin-left: 50px;
}

.contacts {
    display: flex;
    margin-left: auto;
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 0;
    
}
.contacts-li {
    margin-left: 50px;
    
}

.navigation :hover, 
.navigation :focus {
    color: var(--accent-color);
}



.contacts-link {
    min-width: 142px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    
}

.contacts-link:hover,
.contacts-link:focus {
    fill: var(--accent-color);
    color: var(--accent-color);
}

.image-contacts {
    margin-right: 10px;
    fill: currentColor;
}
.current:hover {
    color: var(--accent-color);
}
/* главная секция */
.main {
    background-image: linear-gradient(to right,
            #2F303A66, rgba(47, 48, 58, 0.4)), url(../image/Img.png);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;

}

.main-title {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    
    
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    width: 696px;
    
    
    
}
.main-button {
    display: inline-block;
    cursor: pointer;
    padding: 10px 32px;
    
    min-width: 136px;
    color: #FFFFFF;
    background-color: #2196F3;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    border: 0;
    border-radius: 4px;
       
}

/* наши преимущества */
.fature {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
}

.feature-ul {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

}
.attention::before{
background-image: url(../image/Group\ 1.svg);
content: "";
display: block;
height: 120px;
}

.punctuality::before{
    background-image: url(../image/Group\ 2.svg);
        content: "";
        display: block;
        height: 120px;
}
.planning::before {
    background-image: url(../image/Group\ 33.svg);
        content: "";
        display: block;
        height: 120px;
       
}

.technology::before {
    background-image: url(../image/Group\ 4.svg);
        content: "";
        display: block;
        height: 120px;
}

.feature-li + .feature-li {
    margin-left: 30px;
}
.feature-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
    
}
.text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    display: block;
}

/* чем мы занимаемся */

.activities {
    margin-bottom: 0;
    padding-top: 0;
}
.activities-title {
    margin-bottom: 50px;
    margin-top: 0;
    text-align: center;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
        
}
.activities-list {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    margin-top: 0;
}

.activities-img+.activities-img {
    padding-left: 30px;
}
/* наша команда */
.team {
    margin-top: 0;
    background: #F5F4FA;
    margin-bottom: 94px;
}
.team-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    
}

.team-list {
    border: 1px solid #EEEEEE;
    background: #ffffff;
    
}


.team-ul {
    display: flex;
    
}
.team-list + .team-list {
    margin-left: 30px;
}
.name {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 30px;
    
}
.job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-top: 0;
    display: block;
    width: 270px;
}
.social-ul {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    margin-top: 16px;
    width: 206px;
    color: #AFB1B8;
}
.social-image {
    width: 20px;
    height: 20px;
    color: currentColor;
}
.social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    padding: 12px;
    fill: #AFB1B8;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    fill: #ffffff;
}


.social-li + .social-li {
    margin-left: 10px;
}
/* секция клиенты */

.clients {
    margin-bottom: 94px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}
.title-clients {
    display: flex;
    width: 391px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom:0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.clients-ul {
    display: flex;
    width: 1170px;
    justify-content: center;
    text-align: center;
    color: #AFB1B8;
    margin-top: 50px;
}

.clients-li {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    text-align: center;
    justify-content: center;
    display: flex;
    color: #AFB1B8;
}
.clients-li + .clients-li {
    margin-left: 30px;
}

.clients-link {
    display: flex;
    padding: 16px 32px;
    color: #AFB1B8;
}

.icon-clients {
    color: #AFB1B8;
    
}

.clients-li:hover,
.clients-li:focus {
    border: 1px solid #2196F3;
}


 .clients-link:hover {
    fill: #2196F3;
 }




/* футер */
.footer {
    background-color: #2F303A;
    margin-right: auto;
    color: var(--primary-text-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-studio {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF
}
.adress-foter {
    padding-bottom: 60px;
}

.white {
    display: block;
    margin-bottom: 20px;
    padding: 0;
}
.adress {
    margin-top: 0;
    margin-bottom: 9px;
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    display: block;
    
}
.contacts-footer {
    display: block;
    margin-bottom: 9px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    cursor: default;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.tel {
    margin-bottom: 0;
}
.list {
    margin-top: 0;
    margin-bottom: 4px;
    padding-left: 0;
    
}



.list :hover, 
.list :focus {
color: var(--accent-color);
}


/* css для портфолио */



.filter {
    display: flex;
    margin-top: 0;
    margin-bottom: 50px;
    width: 594px;
    margin-left: auto;
    margin-right: auto;
}

.filter-li {
    display: flex;
    margin-top: 0;
    
    
}

.filter-button {
    border-radius: 4px;
    cursor: pointer;
    background: #F5F4FA;
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    padding: 6px 22px;
    margin-right: 0;
    min-width: 16px;
    border: 0;
}

.filter-li+.filter-li {
    margin-left: 8px;
}

.filter :hover,
.filter :focus {
    background: var(--accent-color);
    color: #FFFFFF;
}

.portfolio-main {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
   
}

.portfolio-main :nth-child(n+7) {
    margin-bottom: 0px;
}
.portfolio-main :nth-child(3n) {
    margin-right: 0;
}

.portfolio-list {
    box-sizing: border-box;
    width: 370px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    margin-bottom: 30px;
    margin-right: 30px;
}

.image-title {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 322px;
    display: inline-block;
}

.portfolio-title {
    width: 322px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    cursor: default;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 4px;
    
    
    
}
.portfolio-text {
    width: 322px;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    
    
    

}
